/* -------------------------------------------------------------------------- */
/* DEFAULT CONFIGURATIONS */

a{
  text-decoration:none;
}

h3{
	font-size: 18px;
	font-family: courier;
	font-weight: lighter;
}

body {
	color: #fff;
	background: linear-gradient(-45deg, #335, #336, #336, #339);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  background-color: #21192E;
  width: 100%;
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/* BACKGROUND GRADIENT COLOR ANIMATION */
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* -------------------------------------------------------------------------- */
/* ROOT CONTAINER */
.mass_container{
  display: inline;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* PROJECT DEMO AND CERTIFICATIONS HEADLINE */
.proj_demo_cert_container{
	width: 100%;
	min-width: 1080px;
	display: flex;
}

.proj_demo_text{
	color: white;
	width: 50%;
	text-align: center;
	font-size: 36px;
	font-family: verdana;
}

.cert_text{
	color: white;
	width: 50%;
	text-align: center;
	font-size: 36px;
	font-family: verdana;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* PROJECT DEMOS AND CERTIFICATIONS BOX */
.separator_two{
  height: 370px;
  width: 2px;
  background-color: #c5c5c5;
}

.demos_container{
	display: flex;
	width: 100%;
	min-width: 1080px;
  background-color: white;
}

.scrollmenu{
  display: flex;
  overflow: auto;
  white-space: nowrap;
  width: 48.5%;
  margin-right: 2%;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	margin-left: 15px;
	margin-bottom: 10%;
	margin-top: 10%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_title{
	text-align: center;
	margin-top: 2px;
	margin-bottom: 6px;
	font-family: verdana;
	font-weight: lighter;
}

.certs_scrollmenu{
  display: flex;
  overflow: auto;
  white-space: nowrap;
  width: 50%;
}

.certs_card_img{
	width: 150px;
  margin-top: 55%;
}

.certs_card_title{
  font-family: verdana;
  font-size: 14px;
}

.certs_card{
  margin-left: 12%;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* EDUCATION TIMELINE AND SKILLS LIST */
.edu_skill_container{
  display: flex;
  width: 100%;
  height: 600px;
  min-width: 1080px;
  background-color: white;
}

.separator{
  height: 560px;
	width: 2px;
	background-color: #c5c5c5;
}

.edu_list{
  width: 50%;
}

.meter {
  height: 3px;
  position: relative;
  background: #E0ECF8;
  overflow: hidden;
}

.meter span {
    display: block;
    height: 100%;
}

.progress {
    background-color: #045FDF;
}

.skillset{
	list-style: none;
  margin-top: -15%;
}

.skill_one{
	margin-left: 25%;
}

.skill_two{
	margin-left: 15%;
}

.skill_list{
  margin-top: 2%;
  display: flex;
  width: 33.3%;
}

.timeline_edu{
  width:100%;
	min-width: 1080px;
  box-sizing:border-box;
}
/* timeline vertical line */
.timeline_edu:before{
  content:'';
  position: absolute;
  left: 25.5%;
  width:2px;
  height:30%;
  background:#c5c5c5;
}
.timeline_edu ul{
  padding:0;
  margin:0;
  min-width: 1080px;
  padding-top: 5%;
}
.timeline_edu ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline_edu ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline_edu ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
	color: black;
	font-size: 14px;
}
.timeline_edu ul li:nth-child(odd):before
{
  content:'';
  position: absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-5px;
	background-color: #337;
	box-shadow: #339;
  border-radius:50%;
}
.timeline_edu ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-5px;
	background-color: #337;
	box-shadow: #339;
  border-radius:50%;
}
/* box header */
.timeline_edu ul li h3{
  padding:0;
  margin:0;
  color: #339;
  font-weight:600;
  font-size: 18px;
}
.timeline_edu ul li p{
  margin:20px 0 0;
  padding:0;
  font-family: verdana;
  font-size: 10px;
  font-weight: lighter;
}
.timeline_edu ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
  font-family: verdana;
  font-weight: normal;
}
/* box date */
.timeline_edu ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
	background-color: #337;
	box-shadow: #339;
  color:#fff;
  border-radius:18px;
}
.timeline_edu ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background-color: #337;
	box-shadow: #339;
  color:#fff;
  border-radius:18px;
}

@media(max-width:4000px){
  .timeline_edu{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline_edu:before{
    left:254px;
    height:65%;
  }
  .timeline_edu ul li:nth-child(odd),
  .timeline_edu ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:300px;
    padding-bottom:50px;
    top: 50px;
  }
  .timeline_edu ul li:nth-child(odd):before,
  .timeline_edu ul li:nth-child(even):before
  {
    top:-18px;
    left:250px;
  }
  .timeline_edu ul li:nth-child(odd) .time,
  .timeline_edu ul li:nth-child(even) .time{
    top:-30px;
    left:300px;
    right:inherit;
  }
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* EDUCATION AND SKILLS HEADLINE */
.edu_head_container{
  display: flex;
  min-width: 1080px;
  height: 120px;
}

.edu_header{
	color: white;
	width: 50%;
	text-align: center;
	font-size: 36px;
	font-family: verdana;
}

.skill_header{
	color: white;
	width: 50%;
	text-align: center;
	font-size: 36px;
	font-family: verdana;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* EXPERIENCE TIMELINE */
.timeline{
  width:100%;
	min-width: 1080px;
  box-sizing:border-box;
	background-color: white;
}
/* timeline vertical line */
.timeline:before{
  content:'';
  position: absolute;
  left: 49.9%;
  width:2px;
  height:100%;
  background:#c5c5c5;
}
.timeline ul{
  padding:0;
  margin:0;
  min-width: 1080px;
  padding-top: 5%;
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content{
  padding-bottom:20px;
	color: black;
	font-size: 12px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position: absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-5px;
	background-color: #337;
	box-shadow: #339;
  border-radius:50%;
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-5px;
	background-color: #337;
	box-shadow: #339;
  border-radius:50%;
}
/* box header */
.timeline ul li h3{
  padding:0;
  margin:0;
  color: #339;
  font-weight:600;
  font-size: 18px;
}
.timeline ul li p{
  margin:20px 0 0;
  padding:0;
  font-family: verdana;
  font-size: 10px;
  font-weight: lighter;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
  font-family: verdana;
  font-weight: normal;
}
/* box date */
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
	background-color: #337;
	box-shadow: #339;
  color:#fff;
  border-radius:18px;
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background-color: #337;
	box-shadow: #339;
  color:#fff;
  border-radius:18px;
}

@media(max-width:1080px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* EXPERIENCE HEADLINE */
.exp_head_container{
  height: 80px;
  min-width: 1080px;
}

.exp_header{
  color: white;
	text-align: center;
	font-size: 36px;
	font-family: verdana;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* PERSONAL INFORMATION BOX */
.personal_container{
  display: flex;
  background-color: white;
  min-width: 1080px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.img_container{
  width: 15%;
  margin-left: 5%;
  margin-right: 5%;
}

.about_me_container{
  width: 40%;
  margin-right: 5%;
}

.about_me_specifics_container{
  width: 40%;
}

.about_me_text{
  font-size: 18px;
	color: black;
	font-family: verdana;
  font-weight:normal;
}

.about_me_summary{
  font-size: 12px;
	color: black;
	font-family: verdana;
  margin-top: 10%;
}

.about_me_summary_two{
	font-size: 12px;
	color: black;
	font-family: verdana;
	list-style: none;
  margin-top: 10%;
}

.button_container{
  margin-top: 10%;
  margin-left: 7%;
}

.button_container a{
  font-family: verdana;
  float: left;
	color: white;
	text-align: center;
	padding: 11px;
  margin-left: 1%;
	font-size: 14px;
	background-color: #337;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* HEADLINE CONTAINER */
.headline_container{
  display: flex;
  height: 400px;
  min-width: 1080px;
}

.dev_by{
  width: 27%;
  margin-left: 5%;
  margin-top: 2%;
}

.dev_by_text{
	font-family: verdana;
	color: #c5c5c5;
  font-size: 12px;
}

.author_headline_container{
  width: 73%;
  margin-top: 12%;
}

.author_name{
  font-size: 36px;
	color: white;
	font-family: verdana;
}

.author_job{
  font-size: 14px;
  color: white;
  font-family: verdana;
  margin-left: 15%;
  margin-top: 1%;
}
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* PAGE TOOLBAR */
/* Add a black background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
	width: 100%;
	min-width: 1080px;
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 11px 40px;
  font-size: 14px;
	font-family: verdana;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #337;
  color: white;
}
/* -------------------------------------------------------------------------- */
